@import '../../Styles/colors';
@import '../../Styles/mixins';
@import '../../Styles/sizes';

.shopping-cart {
  @include backgroundImage('../img/background-1.jpg');
  color:black;
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    
    .title {
      margin: 20px 0;
      text-transform: capitalize;
    }
    .list-wrapper {
      position: relative;
      background-color: $backgroundColor;
      display: block;
      max-height: 600px;
      width: 500px;
      border-radius: 5px;
      border: 1px solid $borderColor;
      overflow: hidden;
      
      .shopping-list {
        min-height: 200px;
        max-height: 400px;
        overflow: auto;

        .list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          background-color: #fff;
          margin: 5px;
          border-radius: 5px;
          border: 2px solid $borderColor;

          .photo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__img {
              height: 50px;
            }

            &__caption {
              font-weight: bold;
            }
          }

          .quantity {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__button {
              @include styleBtn;
              margin-right: 10px;
            }

            &__value {
              margin-right: 10px;
            }
          }
        }
      }
      .summary {
        border-top: 1px solid $borderColor;
        background-color: #fff;
        padding: 20px;
        
        &__value {
          text-align: center;
          margin: auto;
          width: 60%;
          border-bottom: 2px groove tomato;
        }
    
        &__button {
          margin-top: 20px;
          @include styleBtn;
          
        }
      }
    }
  }
}


