@import '../../Styles/mixins';

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 96px);

    &__button {
        @include styleBtn;
    }
}