@import '../../Styles/colors';
@import '../../Styles/sizes';
@import '../../Styles/mixins';

.product {
  &-page {
    @include backgroundImage('../img/background-4.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $paddingTop;

    &__shadow {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: #ffffffc3;
    }

    .container {
      max-width: 1000px;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 0 20px;
      border: 1px groove $borderColor;
      border-radius: $borderRadius;
      transform: translateY(-$paddingTop);

      &__title {
        text-transform: uppercase;
        color: $titleColor;
        margin-left: 20px;
        padding-top: 20px;
      }
    }
  }
}
