@import '../../Styles/colors';
@import '../../Styles/sizes';
@import '../../Styles/mixins';

.form-inner {
    position: relative;
    display: block;
    height: 350px;
    border-radius: $borderRadius;
    border: 1px solid $borderColor;
    background-color: $mainWhite;
    padding: 30px;
    z-index: 3;

    &__header-text {
        color: $desktopMenuHover;
        margin-bottom: 30px;
    }

    &__group {
        position: relative;
        display: flex;
        flex-direction: column;
        color: #666;
        width: 280px;
        margin: 15px;

        &--label {
            display: block;
            color: #666;
            font-size: 15px;
            margin-bottom: 5px;
            transition: .4s;
        }

        &:focus-within {
            .form-inner__group--label {
                color: $desktopMenuHover;
            }
        }

        &--input {
            display: block;
            width: 87%;
            padding: 5px 15px;
            background-color: #fefefe;
            border-radius: $borderRadius;
            transition: .4s;

            &:focus {
                box-shadow: 0px 0px 3px $borderColor;
            }
        }
    }

    &__button {
        @include styleBtn;
    }
}