@import '../../Styles/colors';
@import '../../Styles/sizes';
@import '../../Styles/mixins';

.form-inner {
    position: relative;
    display: block;
    top: 80px;
    width:350px;
    border-radius: $borderRadius;
    border: 1px solid $borderColor;
    background-color: $mainWhite;
    padding: 30px;
    margin: 30px auto;
    text-transform: capitalize;

    .form-info {
        margin: 20px 0;
        font-size: 12px;
    }

    &__header-text {
        color: $desktopMenuHover;
        margin-bottom: 30px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        color: #666;
        width: 100%;
        margin: 10px 15px;

        &--label {
            display: block;
            color: #666;
            font-size: 15px;
            margin-bottom: 5px;
            transition: .4s;
        }

        &:focus-within {
            .form-inner__group--label {
                color: $desktopMenuHover;
            }
        }

        &--input {
            display: block;
            width: 87%;
            padding: 5px 15px;
            background-color: #fefefe;
            border-radius: $borderRadius;
            transition: .4s;

            &:focus {
                box-shadow: 0px 0px 3px $borderColor;
            }
        }
    }

    &__buttons {

        &--button{
            @include styleBtn;
            margin-top: 20px;
        }

        &--link {
            text-decoration: none;
            margin-left: 5px;
            font-weight: bold;
            font-size: 15px;
            color: $addButton;
            transition: color .2s ease-in;

            &:hover {
                color: $addButtonHover;
            }
        }
    }
}

.input-error {
    height: 12px;
    font-size: 12px;
    padding: 5px;
    color: tomato;
}

.error {
    color: tomato;
}