@import '../../Styles/sizes';
@import '../../Styles/breakpoints';

.card {
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  padding-bottom: 0.3125rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background-color: white;
  z-index: 10;
  overflow: hidden;
}

@media (min-width: $Large) {
  .card {
    padding: 2rem;
  }
}

@media (max-width: $Small) and (orientation: landscape) {
  .card {
    padding-bottom: 1rem;
  }
}