@import '../../Styles/mixins';
.login {
    @include backgroundImage('../img/background-4.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    &__welcome {
        z-index: 1;
    }
    
    &__form {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    span {
        text-transform: capitalize;
    }
}
