@import '../../Styles/mixins';
@import '../../Styles/sizes';
@import '../../Styles/breakpoints';

.login {
  @include backgroundImage('../img/background-4.jpg');
  padding: 3.5rem 0 0.2rem;

  .form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  span {
    text-transform: capitalize;
  }
}

@media (min-width: $Large) {
  .login {
    padding-top: 5rem;
  }
}

@media (orientation: landscape) and (max-width: $Large) {
  .login {
    .form {
      height: auto;
    }
  }
}
