$grayShadow: rgba(128, 128, 128, 0.124);
$gray: rgb(128, 128, 128);
$mainWhite: rgb(245, 245, 245);
$backgroundShadow: rgba(0,0,0,0.5);
$backgroundColor: #ecececd6;
$black: rgb(0,0,0);
$addButton: #ffa600ac;
$addButtonHover: #ffa500;
$desktopMenuHover: #e49400;
$borderColor: rgba(0, 0, 0, 0.131);
$borderShadow: rgba(255, 255, 255, .5);
$titleColor: rgba(0, 0, 0, 0.627);
$white: #fff;