@import './colors';
@import './sizes';

@mixin styleBtn {
    padding: 5px 15px;
    background-color: $addButton;
    border-radius: $borderRadius;
    border: none;
    transition: background-color .15s ease-in;
    text-transform: capitalize;
    cursor: pointer;
    
    &:hover {
        background-color: $addButtonHover;
    }
}

@mixin burgerElement ($val) {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: $borderRadius;
    transition: all 0.2s ease-in-out;
    transform: translateY($val);
}

@mixin backgroundImage($url) {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}