@import '../../Styles/colors';
@import '../../Styles/sizes';
@import '../../Styles/mixins';

.home {
  @include backgroundImage('../img/background-3.jpg');
  display: flex;
  align-items: center;

  .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    color: $titleColor;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
    border-top: 2px solid $borderShadow;
    border-bottom: 2px solid $borderShadow;
    padding: 2rem 0;
    z-index: 1;

    &-heading {
      text-transform: uppercase;
      margin-bottom: 0.3125rem;
      z-index: 1;
    }

    p {
      z-index: 1;
    }

    .button {
      margin-top: 1rem;
      text-transform: uppercase;
      width: auto;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: blur(12px);
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
