@import '../../Styles/sizes';
@import '../../Styles/colors';

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: $backgroundColor;
  overflow: hidden;
  width: 100%;
  
  .wrapper {
    background-color: $white;
    width: 100%;
  }
  .container {
    margin: 0 auto;
    max-width: 1500px;
    border-bottom: 1px solid $desktopMenuHover;

    .logo {
      padding: 0 15px;
      z-index: 1;

      a {
        font-size: 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: $desktopMenuHover;
        font-weight: 600;
      }
    }

    .menu-overlay {
      position: fixed;
      z-index: 0;
      background-color: $backgroundShadow;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
