@import '../../Styles/sizes';
@import '../../Styles/colors';
@import '../../Styles/mixins';
@import '../../Styles/breakpoints';

.admin {
  @include backgroundImage('../img/background-4.jpg');

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;

    .heading {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
    }

    .add-section {
      position: relative;
      text-transform: capitalize;
      background-color: rgba(255, 255, 255, 0.765);
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: 10px;
      max-width: 750px;
      width: 90%;

      h3 {
        margin: 0.5rem 0.5rem;
        border-bottom: 1px solid $borderColor;
      }

      .done {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;

        letter-spacing: 0.3rem;
        color: $buttonAdd;
      }
      .action {
        display: block;
        margin-top: 20px;

        .button {
          margin: 0.25rem auto;
        }
      }
    }
    .error {
      color: red;
    }
  }

  .new-product {
    background-color: lime;
    text-align: center;
    padding: $headerHeight 25px;
  }
}

@media (orientation: landscape) and (max-width: $Large) {
  .admin {
    .container {
      top: 3.125rem;
      height: auto;

      .add-section {
        .action {
          display: flex;
          justify-content: flex-end;
          padding: 0 1rem;
          
          .button {
            margin: 0.25rem;
          }
        }
      }
    }
  }
}
