@import './Styles/colors';
@import './Styles/sizes';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}

@media (max-width: 991px) {
  .header-main {
    padding: 5px;
  }
  .header {
    .nav-menu {
      position: fixed;
      right: -280px;
      visibility: hidden;
      width: 280px;
      height: 100%;
      top: 0;
      overflow-y: auto;
      background-color: #222222;
      padding: 15px 0;
      transition: all 0.5s ease;
    }
    .nav-menu.open {
      visibility: visible;
      right: 0;
    }

    .menu {
      margin-top: 50px;

      &-btn {
        &:hover {
          .menu-btn__burger {
            &::before,
            &::after {
              background-color: $desktopMenuHover;
            }
          }
        }
      }

      .menu-item {
        display: block;
        margin: 0;

        &__link {
          color: #ffffff;
          padding: 12px 15px;
          border-bottom: 1px solid #333333;
          &:hover {
            color: $desktopMenuHover;
          }
        }
        &__counter {
          top: 12px;
          right: 15px;
          background-color: $desktopMenuHover;
        }

        &:first-child {
          a {
            border-top: 1px solid #333333;
          }
        }
      }
      .active {
        color: $desktopMenuHover;
      }
    }

    .open {
      .menu-btn__burger {
        background: none;
        &::before,
        &::after {
          background: white;
        }
      }
    }
  }
  .products-section {
    .products {
      &-list {
        margin: 10px 30px;
      }

      &__info {
        font-size: 15px;
      }

      // &-img {
      //   height: 120px;
      // }
    }
  }
}

@media (max-width: 768px) {
  .products-section {
    .products {
      &-list {
        &__item {
          height: 100px;
          margin: 10px 5px;
        }
      }

      &__info {
        font-size: 15px;
      }

      // &-img {
      //   height: 120px;
      // }
    }
  }

  .text {
    font-size: 12px;
  }
  .product-page{
    margin-top: 80px;

  }
  .product-focus {
    .focus {
      &-main {
        flex-direction: column;
        
        &__img {
          max-width: 400px;
          margin-right: 10px;
          border-radius: $borderRadius;
          border: 1px solid $borderColor;
        }

        &__interaction {
          display: flex;
          flex-direction: row;
          height: 50px;
          margin-top: 10px;
          border-bottom: 1px solid $borderColor;
          border-left: none;
          padding: 0;
        }

        &__price {
          font-size: 20px;
          margin-right: 15px;
          border-bottom: none;
        }

        &__describe {
          max-width: 400px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .header-main {
    padding: 0;
  }
  .products-section {
    .products {
      &-list {
        &__item {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
      &-description {
        align-items: center;
        margin: 10px;

        &__bottom-section {
          flex-direction: column;
        }
      }

      &-img {
        height: 100%;
      }
    }
  }

  .text {
    font-size: 15px;
  }

  .home-section .home-text {
    text-align: center;
  }



  .product-page{
    margin-top: 80px;
    
    .container__title {
      font-size: 15px;
      margin: 0 20px;
    }

  }
  .product-focus {
    .focus {
      &-main {
        
        &__interaction {
          line-height: 30px;
          height: 30px;
          border-bottom: 1px solid $borderColor;
          border-left: none;
          padding: 0;
        }

        &__price {
          font-size: 17px;
          margin-right: 15px;
        }
        &__button {
          font-size: 12px;
        }

        &__describe {
          max-width: 250px;
          font-size: 12px;
        }
        &__back {
          padding: 5px;
        }
      }
    }
  }

  .header .nav-menu {
      right: -200px;
      width: 200px;
  }

  .shoppingCart {
    &-wrapper {
      text-align: center;
      width: 80%;
      text-transform: capitalize;
      z-index: 1;
      
      &__container {
        margin: 20px;
        border-radius: 5px;
        display: block;
        border: 2px solid &borderColor;
      }

      &__items {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        background-color: #fff;
        border-radius: 5px;
        margin: 3px;

        &--img {
          height: 100%;
        }

        &--button {
          margin: 5px;
        }
      }
      ul {
        list-style: none;
        margin-bottom: 20px;
      }
    }
  }

  .login-section .login-form {
        width: 300px;
    }

}
